<div class="container padding">
  <div class="row">
    <div class="col-xs-12 col-sm-7">
        <h2>About</h2>
        <p>This website is a place for me to document my work as an engineer and a designer. I built it from skratch using the tools and technologies that I learned as a web designer and will try to update it diligently. I am currently studying mechanical engineering at the University of Colorado and will graduate in the Spring of 2017 with a Masters of Science. I graduated in the Spring of 2014 from the University of Colorado with a Bachelors of Science in Engineering Physics. I have been working for the Laboratory for Atmospheric and Space Physics for over 5 years while getting my degrees. 
        </p>
        <p>
          When I'm not at school or work I am very active socially and physically trying to enjoy as much of what Colorado has to offer. I am a member of the University of Colorado triathlon club and am also an avid skiier. When I'm not biking, running, skiing or running I'm inside playing guitar, cooking, or watching Avalanche hockey.
        </p>
        <p>
          I'm always looking forward to the next great adventure. If you would like to get in contact with me please feel free to use my LinkedIn profile or email me. I look forward to hearing from you.
        </p>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-xs-12 col-sm-4">
        <div class="LI-profile-badge"  data-version="v1" data-size="large" data-locale="en_US" data-type="horizontal" data-theme="light" data-vanity="tyler-traver-27339643"><a class="LI-simple-link" href='https://www.linkedin.com/in/tyler-traver-27339643?trk=profile-badge'>Tyler Traver</a></div>
    </div>
  </div>
</div>