<div class="banner container-fluid">
    <img class="big-mountain" src="assets/images/big_mountain.svg"/>
    <img class="medium-mountain" src="assets/images/medium_mountain.svg"/>
    <img class="small-mountain" src="assets/images/small_mountain.svg"/>
    <div class="container">
        <h2 class="description level is-half is-offset-one-quarter">
            <span class="level-item has-text-centered">Design</span>
            <div class="small-square"></div>
            <span class="level-item has-text-centered">Engineering</span>
            <div class="small-square"></div>
            <span class="level-item has-text-centered">Physics</span>
        </h2>
    </div>
</div>
