<!-- App Navigation -->
<app-navbar></app-navbar>
<!-- App Banner -->
<app-banner></app-banner>

<!-- Routed views go here -->
<router-outlet></router-outlet>

<footer class="footer">
    <div class="container">
        <div class="copyright-content">
            <div class="copyright-notice">
                <div>© 2016 Tyler Traver&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;All Rights Reserved</div>
            </div>
            <div class="social-links-footer">
                <ul class="social-icons">
                    <li><a href="" class="social-icon" md-tooltip="LinkedIn" tooltip-position="above"> <i class="fa fa-linkedin"></i></a></li>
                    <li><a href="" class="social-icon" md-tooltip="Email Me" tooltip-position="above"> <i class="fa fa-envelope-o"></i></a></li>
                </ul>		
            </div>
        </div>
    </div>
</footer>