@import "../pallete"

.section-header
    font-size: 4em

.about-section
    font-size: 1.5em

.download-button
    color: $primary-text
    -webkit-transition: all .3s
    transition: all .3s
    border: 2px solid #212121
    font-size: 1em
    padding: 1.3em 1.125em
    margin-top: 16px
    margin-bottom: 32px
    border-radius: 0