<div class="container padding">
    <div class="about">
        <h2 class="container center">Experience</h2>
        <p>An overview of my professional and academic career so far. See my resume for more details.</p>
    </div>
    <a href="assets/Resume-Traver.pdf"><button class="resume-btn"><span style="z-index: 5"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Download Resume (.pdf)</span></button></a>
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <h2>School</h2>
            <div class="card">
                <div class="card-img-top card-image" style="background-image:url(assets/images/CU_seal.png)"></div>
                <div class="card-block">
                    <h4 class="card-title">University of Colorado Boulder</h4>
                    <h5><i class="fa fa-cogs" aria-hidden="true"></i> Master of Science - Mechanical Engineering</h5>
                    <h5><i class="fa fa-flask" aria-hidden="true"></i> Bachelor of Science - Engineering Physics</h5>
                    <h5><i class="fa fa-code" aria-hidden="true"></i> Minor - Computer Science</h5>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <h2>Experience</h2>
            <div class="card">
                <div class="card-img-top card-image" style="background-image:url(assets/images/lasp_logo.png)"></div>
                <div class="card-block">
                    <h4 class="card-title">Laboratory for Atmospheric and Space Physics</h4>
                    <div class="card-text">
                        <h5><i class="fa fa-desktop" aria-hidden="true"></i> Software Engineer</h5>
                        <ul>
                            <li>Design of websites including frontend asthetics and backend data management</li>
                            <li>Creation and maintenance of a semantic web ontology for solar irradiance data</li>
                            <li>Implementation of semantic and non-semantic data servers</li>
                            <li>Agile development process using JIRA</li>
                        </ul>
                        <h5><i class="fa fa-space-shuttle" aria-hidden="true"></i> Spacecraft Command Controller</h5>
                        <ul>
                            <li>Part of a large team responsible for the health and safety of 3 low earth orbit space craft and the kepler deep space telescope</li>
                            <li>I served as an instrument lead on a couple different subsystems. I was responsible for delegating reporting and monitoring of my subsystems to other student team members.</li>
                            <li>Performed real time commanding of space craft to collect scientific data and perform maintenance.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="about">
            <h2 class="container center">Highlighted Coursework</h2>
            <p>A selection of courses that enriched my academic career and will benefit me in my professional career to come. Transcripts available on request.</p>
        </div>
        <div class="card col-md-6 col-xs-12">
            <div class="card-block">
                <h4 class="card-title">Physics</h4>
                <ul>
                    <li>PHYS 1140/2150 - Experimental Physics I/II</li>
                    <li>PHYS 3310/3320 - Principles of Electricity and Magnetism I/II</li>
                    <li>PHYS 3340 - Research in Optical Physics</li>
                    <li>PHYS 3220/4410 - Quantum Mechanics/Atomic Physics I/II</li>
                    <li>PHYS 4150 - Plasma Physics</li>
                    <li>PHYS 4230 - Thermodynamics and Statistical Mechanics</li>
                    <li>PHYS 4420 - Nuclear and Particle Physics</li>                   
                </ul>
            </div>
        </div>
        <div class="card col-md-6 col-xs-12">
            <div class="card-block">
                <h4 class="card-title">Engineering</h4>
                <ul>
                    <li>MCEN 1025 - Computer Aided Design and Fabrication</li>
                    <li>PHYS 3330 - Electronics for the Physical Sciences</li>
                    <li>ECEN 2250 - Intro Circuits and Electronics</li>
                    <li>MCEN 5055 - Advanced Product Design</li>
                    <li>MCEN 5065/5075 - Graduate Design I/II</li>
                    <li>MCEN 5045 - Design for Manufacturability</li>
                    <li>MCEN 5228 - Soft Machines</li>
                    <li>MCEN 5228 - Micro-Electro-Mechanical Systems</li>
                    <li>MCEN 5228 - Microsystem Integration</li>
                    <li>MCEN4115 - Mechatronics and Robotics</li>
                </ul>
            </div>
        </div>
        <div class="card col-md-6 col-xs-12">
            <div class="card-block">
                <h4 class="card-title">Computer Science</h4>
                <li>CSCI 2400 - Computer Systems</li>
                <li>CSCI 3753 - Operating Systems</li>
                <li>CSCI 4273 - Network Systems</li>
                <li>CSCI 4133 - Security Lab</li>
            </div>
        </div>
        <div class="card col-md-6 col-xs-12">
            <div class="card-block">
                <h4 class="card-title">Mathematics</h4>
                <ul>
                    <li>APPM 2350 - Calculus 3 for Engineers</li>
                    <li>APPM 2360 - Intro to Differential Equations/Linear Algebra</li>
                    <li>APPM 3170 - Discrete Applied Mathematics</li>
                    <li>APPM 3310 - Matrix Methods and Applications</li>
                    <li>APPM 4350 - Fourier Series and Boundary Value Problems</li>
                </ul>
            </div>
        </div>
    </div>
</div>
